@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

$textColor: #F2F2F2;
$backgroundColor: #333;
$hoverColor: #222;

nav {
  font-family: "Ubuntu";
  background-color: $backgroundColor;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  margin-left: 0;
  z-index: 9;
  padding-bottom: 3px;
  .logo {
    position: relative;
    z-index: 10;
    padding: 5px 0 2px 5px;
    float: left;
    &:hover {
      opacity: .8;
    }
  }
  ul {
    text-align: center;
    list-style-type: none;
    transform: translate(0, 10%);
    margin: 0;
    padding: 15px;
    li {
      display: inline;
      font-size: 18px;
      a {
        text-decoration: none;
        padding: 15px 35px;
        color: $textColor;
        &:hover {
          background-color: $hoverColor;
          transition: all .2s ease-in;
          border-radius: 10px;
        }
      }
    }
  }
}
