$badass: #BADA55;
$primaryColor: #333;

nav {
  background-color: $primaryColor;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    li {
      display: inline;
      font-size: 18px;
      a {
        text-decoration: none;
        padding: 15px;
        color: #F2F2F2;
        &:hover {
          background-color: #222;
          border-radius: 10px;
        }
      }
    }
  }
}
