.project {
  display: inline-block;
  margin-top: 100px;
  background-color: #eee;
  width: 300px;
  text-align: center;
  &:hover {
    background-color: #ccc;
    img {
      opacity: .25;
      //transition: all .2s ease-in;
    }
  }
  img {
    height: 200px;
    width: 250px;
  }
}