@import './Navbar.scss';

.project {
  position: relative;
  display: inline-block;
  margin-top: 100px;
  background-color: $textColor;
  width: 300px;
  text-align: center;
  margin: 10px 5px 0 10px;
  h2 {
    font-weight: normal;
  }
  .project-links {
    display: none;
  }
  &:hover {
    transition: all .2s ease-in;
    background-color: $backgroundColor;
    color: $textColor;
    .project-links {
      display: block;
    }
    img {
      transition: all .2s ease-in;
      opacity: .2;
    }
  }
  img {
    height: 200px;
    width: 250px;
  }
  .vCenter {
    position: absolute;
    margin: auto;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}